html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Evita scroll indesejado */
}

.background {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://i.pinimg.com/originals/46/29/c9/4629c95666b8d131668a94b57c45f447.gif'); 
    background-size: cover;
    background-position: center;
    z-index: -1; 
}

#page1 {
    position: relative; /* Garante que o conteúdo do #page1 fique acima do fundo */
    z-index: 1;
    width: 100%;
    height: 100vh; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 50px; /* Ajustado para responsividade */
    padding: 20px;
    background-color: rgba(10, 10, 10, 0.8); /* Adicione uma transparência para melhor contraste */
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes continuousMove {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.foto {
    width: 200px; /* Diminuído para responsividade */
    height: 200px;
    background-image: url('./42ec1736-56ab-4ece-9c75-e86d19867beb.jpeg'); 
    background-size: cover;
    background-position: center;
    border-radius: 50%; 
    border: 2px solid #a57c7c; 
    box-shadow: 0 0 40px 20px rgba(156, 116, 116, 0.8); 
    transition: box-shadow 0.3s ease-in-out;
}

h4 {
    color: #c22323;
    margin: 0;
    text-align: left;
    font-family: "Quicksand", serif;
    font-size: 1.2rem; /* Diminuído para responsividade */
    font-weight: normal;
    opacity: 0;
    animation: fadeIn 2s 1s forwards;
    margin-bottom: 20px;
}

#page1 h1 {
    color: #c22323;
    margin: 20px 0;
    text-align: left;
    font-family: "Quicksand", serif;
    font-weight: bold; 
    font-size: 2.5rem; /* Diminuído para responsividade */
    opacity: 1;
    animation: continuousMove 3s ease-in-out infinite, fadeIn 2s 1.5s forwards;
}

.redes {
    display: flex;
    gap: 20px; /* Ajustado para responsividade */
    margin-top: 30px;
    opacity: 0;
    animation: fadeIn 2s 2s forwards;
   
}

.box {
    width: 40px; /* Diminuído para responsividade */
    height: 40px;
    border-radius: 50px;
}

svg {
    width: 100%; 
    height: 100%;
}

.box:hover {
    transform: scale(1.2);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    #page1 {
        flex-direction: column;
        gap: 30px;
        padding: 10px;
    }

    .foto {
        width: 150px; 
        height: 150px;
    }

    h4 {
        font-size: 1rem;
    }

    #page1 h1 {
        font-size: 2rem;
    }

    .redes {
        gap: 15px;
    }

    .box {
        width: 30px; 
        height: 30px;
    }
}
